<div class="container">
    <div class="row">
        <div class="col-md-3 flenpx-column p-1 text-center">
            <app-galery></app-galery>
            <div class="rating-block bg-light rounded p-1">
                <rating [max]="5" [readonly]="true" [(ngModel)]="room.totalRating"></rating>
                <p class="text-detail">
                    Rated {{room.numberOfRatings}} times
                </p>
            </div>
            <div class="text-left">
                <ul class="details-display">
                    <li>
                        <i class="fa fa-building blue-fa"></i> Type: {{room.roomType.name}}
                    </li>
                    <li>
                        <i class="fa fa-hashtag blue-fa"></i>Floor number: {{room.roomFloor}}, Room number: {{room.roomNumber}}
                    </li>
                    <li>
                        <i class="fa fa-star blue-fa" aria-hidden="true"></i> Category: {{room.roomCategory.numberOfStars}} stars
                    </li>
                    <li>
                        <i class="fa fa-user blue-fa" aria-hidden="true"></i>Number of people: {{room.numberOfPeople}}
                    </li>
                    <li>
                        <i class="fa fa-ban blue-fa" aria-hidden="true"></i>Cancelation: {{room.cancelationDays}} days
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 d-flex flex-column">
            <div class="px-3">
              <div>
                  <p class="lead">
                    Description
                  </p>
                  <p class="text-muted text-justify">{{room.description}}
                  </p>
              </div>
              <div class="mt-2 mb-4">
                <p class="lead">
                  Additional Services
                </p>
                <p *ngIf="!room.additionalService" class="text-muted">
                  There are no additional services available for this room.
                </p>
                <div *ngFor="let additionalService of room.additionalService" class="d-inline-flex pr-1">
                  <span class="badge badge-pill badge-primary">{{additionalService.name}}</span>
                </div>
              </div>
            </div>
            <div>
                <ul class="nav nav-tabs mb-2" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#priceTable" role="tab">Price Table</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews</a>
                    </li>
                </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="priceTable" role="tabpanel">
                      <app-price-table [roomId]="room.id" [defaultPrice]="room.defaultPrice"></app-price-table>
                    </div>
                    <div class="tab-pane fade" id="reviews" role="tabpanel">
                      <app-review-display></app-review-display>
                    </div>
                  </div>
            </div>
          <!--END DESCRIPTION-->
        </div>
        <div class="col-md-3 flenpx-column p-1 text-center">
          <div class="col-auto mb-2 text-center">
              <a routerLink="/room/{{room.id}}">
                  See All Reservations <i class="fa fa-arrow-right blue-fa" aria-hidden="true"></i>
              </a>
          </div>
          <app-new-reservation-form></app-new-reservation-form>
          <!-- SIDEBAR MAP -->
          <app-map-display></app-map-display>
          <!-- END SIDEBAR MAP -->
          <!-- SIDEBAR ADDRESS -->
          <app-address-display [address]="room.address" class="text-left"></app-address-display>
          <!-- END SIDEBAR ADDRESS-->
        </div>
    </div>
</div>
