<app-banner></app-banner>

<div class="container mt-3">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-9">
      <h2 class="featurette-heading">Find a best place to stay.<span class="text-muted"> Because you deserve it.</span></h2>
      <p class="lead" style="text-align: justify">MegaTravel International’s footprint covers more of the world than that of any other travel
        company, giving us an advantage in many of the fastest growing markets.

        Since 1997, MegaTravel has valued diversity and inclusion. With our foundation built upon the wellbeing and happiness
        of our associates, embracing differences is critical to our success as the largest hospitality company with an ever
        growing global portfolio. Diversity and inclusion is fundamental to our core values and strategic business goals.
        Taking care of people and putting their wellbeing above all else is in our Company’s DNA and our most precious
        cultural inheritance.
      </p>
    </div>
    <div class="col-md-3">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/100x100/auto" alt="250x250" style="width: 300px; height: 250px;" src="assets/images/home-page/dogs.jpg" data-holder-rendered="true">
    </div>
  </div>

</div>
