<div class="col">
  <div class="media">
        <app-map [address]="hotel.address" class="align-self-start mr-4 py-3"></app-map>
        <div class="media-body pr-3 pt-3">
              <div class="d-flex">
                    <div class="py-2 pr-2">
                          <h3 class="display-4" align="left">{{hotel.name}}</h3>
                    </div>
                    <div class="ml-auto p-2">
                          <!--rating [(ngModel)]="hotel.averageRating" [max]="5" [readonly]="true"></rating-->
                    </div>
              </div>

              <p class="text-muted" align="left">{{hotel.address.street}} {{hotel.address.streetNumber}}, {{hotel.address.city}} {{hotel.address.postalCode}},  {{hotel.address.state}}, {{hotel.address.country}}</p>
             
              <hr>
              <div class="d-flex justify-content-start"><a routerLink="/hotel/{{hotel.id}}">Details...</a> </div>


        </div>
  </div>
</div>