<div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title"  style="color: #33cabb;">Enter reservation</h5>
      <hr/>

      <form [formGroup]="newReservationForm" (validSubmit)="submitReservation()">
        <div class="input-group form-group py-1">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-calendar-alt blue-fa" aria-hidden="true"></i></span>
            </div>
            <input formControlName="date" class="form-control" #drp="bsDaterangepicker" bsDaterangepicker placeholder="Choose period" [bsConfig]="datePickerConfig">
        </div>

        <button type="submit" class="btn btn-primary btn-block" > Create reservation </button>
      </form>

    </div>
</div>
