section.formContainer{
	border-radius: 4px;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

form{
  padding: 50px 80px;
	color: #383838;
	max-width: 400px;
	margin: auto;
}

/* Change border for inputs*/
.form-control {
	box-shadow: none;
	font-weight: normal;
	font-size: 13px;
}

.spinner-border{
  color: #5aa39c
}


/* Change color behind icons in input forms*/
.input-group-text{
	background: #f6f6f6;
}


/* Change color of buttons*/
.btn-primary, .btn-primary:active {
	color: #fff;
	background: #33cabb;
	vertical-align: middle;
	border: none;
}

/* Change color of buttons when hovered or focused*/
.btn-primary:hover, .btn-primary:focus {
	color: #fff;
	outline: none;
	background: #31bfb1;
}

