<div class="container" >

    <p *ngIf="recensions.length == 0" class="text-muted pt-3">
        There are no reviews for this room.
    </p>


    <div class="row border rounded pt-2 mt-2" *ngFor="let recension of recensions">

      <div class="col-sm-3 my-4"  >

          <div > {{recension.username}} </div>
          <div class="text-detail"> {{recension.creationDate}} </div>
      </div>
      <div class="col-sm-9">
          <div class="row">
              <div class="col-8">
                  <p class="lead">
                    {{recension.title}}
                  </p>
              </div>
              <div class="col-4 text-right">
                  <rating [max]="5" [readonly]="true"  [(ngModel)]="recension.rating"></rating>
              </div>
          </div>
          <div class="row">
            <div class="col-12">
                <p>
                    {{recension.comment}}
                </p>
            </div>
          </div>
      </div>
  </div>
</div>
