<div class="container">
  <div class="row">
    <div class="col-md-3">
            
        <!-- SIDEBAR MAP -->
        <div class="map-holder">
          <app-map ></app-map>     
        </div>
        <!-- END SIDEBAR MAP -->

        <!-- SIDEBAR HOTEL TITLE -->
        <div class="hotel-name">
            <h4>{{ hotelFull.name }}</h4>         
        </div>
        <!-- END SIDEBAR HOTEL TITLE -->

        <!-- SIDEBAR ADDRESS -->
        <app-address-details [address]="hotelFull.address"></app-address-details>
        <!-- END SIDEBAR ADDRESS -->
      </div>

    <div class="col-md-9 rooms-display">    
        <p
          *ngIf="hotelFull.rooms.length == 0"
          style="color:  #33cabb;"
          align="center"
        >
          There are no rooms.
        </p>
        <!--p *ngIf='hotelFull.rooms.length != 0' style="font-size: 25px; color:  #33cabb;" align="center">Rooms</p-->
        <div *ngFor="let room of hotelFull.rooms">
          <app-room-basic-info [room]="room"></app-room-basic-info>
        </div>     
    </div>

  </div>
</div>
