<div class="container">
  
    <div class="jumbotron-holder p-4">
        <div class="jumbotron jumbotron-fluid p-2 m-0">
            <div class="container text-center">
              <h1 class="display-4">{{hotelFull.name}}</h1>
              <p class="lead">Welcome</p>
            </div>
        </div>
    </div>
  <div class="row">
    <div class="col-md-3">            
        <!-- SIDEBAR MAP -->
        <div class="map-holder">
          <app-map [address]="hotelFull.address" ></app-map>     
        </div>
        <!-- END SIDEBAR MAP -->
        <!-- SIDEBAR ADDRESS -->
        <app-address-details [address]="hotelFull.address"></app-address-details>
        <!-- END SIDEBAR ADDRESS -->
      </div>

    <div class="col-md-9 rooms-display">    
        <p
          *ngIf="hotelFull.rooms.length == 0"
          style="color:  #33cabb;"
          align="center"
        >
          There are no rooms.
        </p>
        <div *ngFor="let room of hotelFull.rooms">
          <app-room-basic-info [room]="room"></app-room-basic-info>
        </div>     
    </div>

  </div>

  
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length != 0">
    {{errorMessage}}
  </div>
</div>
