body {
  background: #f1f3fa;
}

.hotel-name {
  text-align: center;
  color: #33cabb;
  margin: 1%;
}



.map-holder {
  padding-top: 25px;
  padding-bottom: 3px;
}

.rooms-display {
  padding-top: 20px;
  padding-left: 3%;
}
