<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <!--Ovde kao data target obavezno staviti id porduzbine-->
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Date of reservation: 11.01.2011.
          </button>
        </h5>
      </div>
  
      <!--Ovde obavezno kao id staviti id porduzbine-->
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <app-reservation-details></app-reservation-details>
        </div>
      </div>
    </div>
   
</div>
