<div style="padding: 1%" class="container">
    <small class="class=" text-muted> Find available accommodation when <b>You</b> need them: </small>
    <hr>

    <!--search (min)-->

    <form [formGroup]="searchForm">
      <div class="row">
          <div class="col-md-4 input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Location">
          </div>
      
          <div class="col-md-4 input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-male" aria-hidden="true"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Number of people">
          </div>

          <div class="col-md-4 input-group form-group">          
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-calendar-alt" aria-hidden="true"></i>
              </span>
            </div>
            <input class="form-control" #drp="bsDaterangepicker" [bsConfig]='datePickerConfig'
            bsDaterangepicker placeholder="Departure date from to">
          </div
          >
        </div>
    
        
        <div class="alert alert-danger row" role="alert" *ngIf="errorMessage.length != 0">
          {{errorMessage}}
        </div>
    
        <div class="row">
          <div class="container-fluid">
            <div class="col-sm-12 text-center">
              <input type="submit" class="btn btn-primary btn-space" value="Search" />
              <!--(click)="cancelSearch()"-->
              <button type="button" class="btn btn-primary btn-space" > Cancel </button>
            </div>
          </div>
        </div>
        <!--search (min) - end -->
      </form>

      <br/>

      <!--search (filter)-->
      <div id="accordion">
        <div class="card">
          <div class="card-header">
            <a class="card-link"data-toggle="collapse" href="#collapseOne">
              Filter
            </a>
          </div>

          <div id="collapseOne" class="collapse" data-parent="#accordion">

            <div class="card-body">
              <form name="form" [formGroup]="filterForm">               
    
                    <div class="row">
                        <div class="col-md-4 mb-3">
                          <label>Room type</label>
                          <ng-select [searchable]="true" [items]="roomTypes" bindValue="id" bindLabel="name" placeholder="Select room type" formControlName="roomType">
                          </ng-select>
                        </div>
                    
                        <div class="col-md-4 mb-3">
                          <label>Room category</label>
                          <ng-select [searchable]="true" [items]="roomCategories" bindValue="id" bindLabel="numberOfStars" placeholder="Select room category" formControlName="roomCategory">
                          </ng-select>
                        </div>

                        <div class="col-md-4 mb-3 ">
                            <label>Room type</label>                           
                            <input type="text" class="form-control " placeholder="Distance">
                          </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 mb-3">
                          <label>Additional Services</label>
                          <ng-select formControlName="additionalService" [items]="additionalServices" [multiple]="true" bindLabel="name" [closeOnSelect]="false" bindValue="id" placeholder="Select additional services">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{standalone: true}"/> {{item.name}}
                            </ng-template>
                        </ng-select>
                      </div>
                    </div>

                  <div class="container-fluid">
                    <div class="col-sm-12 text-center">
                      <!--(click)="filter()" (click)="cancelFilter"-->
                      <button type="submit" class="btn btn-primary btn-space" > Filter </button>
                      <button type="button" class="btn btn-primary btn-space" > Cancel </button>
                    </div>
                  </div>

           
              </form>
            </div>


          </div>
        </div>

      <!--search (filter) - end-->

      
</div>  