<div style="padding: 1%" class="container">
    <small class="class=" text-muted> Find available accommodation when <b>You</b> need them: </small>
    <hr>

    <!--search (min)-->

    <div class="row">
        <div class="col-4 input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Location">
        </div>
    
        <div class="col-4 input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-male" aria-hidden="true"></i>
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Number of people">
        </div>
        <div class="col-4 input-group form-group">
          
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-calendar-alt" aria-hidden="true"></i>
            </span>
          </div>
          <input class="form-control" #drp="bsDaterangepicker" [bsConfig]='datePickerConfig'
          bsDaterangepicker placeholder="Departure date from to">
        </div>
      </div>
  
      <div class="row">
          <div class="col-4 input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Type of accommodation">
          </div>
      
          <div class="col-4 input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Category of accommodation - videcemo kako">
          </div>
          <div class="col-4 input-group form-group">
            
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-suitcase" aria-hidden="true"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Distance">

          </div>
        </div>

      <div class="alert alert-danger row" role="alert" *ngIf="errorMessage.length != 0">
        {{errorMessage}}
      </div>
  
      <div class="row">
        <div class="container-fluid">
          <div class="col-sm-12 text-center">
            <input type="submit" class="btn btn-primary btn-space" value="Search" />
            <!--(click)="cancelSearch()"-->
            <button type="button" class="btn btn-primary btn-space" > Cancel </button>
          </div>
        </div>
      </div>
      <!--search (min) - end -->
      
      <br/>

      <!--search (filter)-->
      <div id="accordion">
        <div class="card">
          <div class="card-header">
            <a class="card-link"data-toggle="collapse" href="#collapseOne">
              Filter
            </a>
          </div>
          <div id="collapseOne" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <form name="form">
                <div class="row">
    
                  <div class="col-sm-6">
                    <div class="input-group form-group">
                      <div class="custom-control custom-checkbox">
                        <!--[(ngModel)]="additionalServicesNeeded"-->
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck">Additional services1</label>
                      </div>
                    </div>
                    <br>
                    <div class="input-group form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                            <label class="custom-control-label" for="customCheck">Additional services2</label>
                          </div>
                    </div>
                  </div>
    
                  <div class="container-fluid">
                    <div class="col-sm-12 text-center">
                      <!--(click)="filter()" (click)="cancelFilter"-->
                      <button type="submit" class="btn btn-primary btn-space" > Filter </button>
                      <button type="button" class="btn btn-primary btn-space" > Cancel </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      <!--search (filter) - end-->

      
</div>  