<div style="padding: 1%" class="container mb-3">
    <small class="class=" text-muted> Find available accommodation when <b>You</b> need them: </small>
    <hr>

    <!--search (min)-->

    <form [formGroup]="searchForm" #myForm="ngForm">
      <div class="row">
          <div class="col-md-4 input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </span>
            </div>
            <input formControlName="location" type="text" class="form-control" placeholder="Location">
          </div>

          <div class="col-md-4 input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-male" aria-hidden="true"></i>
              </span>
            </div>
            <input formControlName="numberOfPeople" type="text" class="form-control" placeholder="Number of people">
          </div>

          <div class="col-md-4 input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-calendar-alt" aria-hidden="true"></i>
              </span>
            </div>
            <input formControlName="bsRangeValue" class="form-control" #drp="bsDaterangepicker" [bsConfig]='datePickerConfig'
            bsDaterangepicker placeholder="Choose date from to">
          </div
          >
        </div>

        <div class="row">
          <div class="container-fluid">
            <div class="col-sm-12 text-center">
              <input type="submit" class="btn btn-primary btn-space" value="Search" (click)="search()" />
              <button type="button" class="btn btn-primary btn-space" (click)="cancelSearch()"> Cancel </button>
            </div>
          </div>
        </div>
        <!--search (min) - end -->

      <br/>

      <!--search (filter)-->
      <div id="accordion">
        <div class="card">
          <div class="card-header">
            <a class="card-link"data-toggle="collapse" href="#collapseOne">
              Filter
            </a>
          </div>

          <div id="collapseOne" class="collapse" data-parent="#accordion">

            <div class="card-body">

                    <div class="row">
                        <div class="col-md-3 mb-3">
                          <label>Room type</label>
                          <ng-select [searchable]="true" [items]="roomTypes" bindValue="id" bindLabel="name" placeholder="Select room type" formControlName="roomType">
                          </ng-select>
                        </div>

                        <div class="col-md-3 mb-3">
                          <label>Room category</label>
                          <ng-select [searchable]="true" [items]="roomCategories" bindValue="id" bindLabel="numberOfStars" placeholder="Select room category" formControlName="roomCategory">
                          </ng-select>
                        </div>

                        <div class="col-md-3 mb-3 ">
                            <label>Distance from location (in km)</label>
                            <input formControlName="distance" type="text" class="form-control " placeholder="Distance from location">
                          </div>

                        <div class="col-md-3 mb-3 ">
                            <label>Cancelation days</label>
                            <input formControlName="cancelationDays" type="text" class="form-control " placeholder="Cancelation days">
                        </div>
                    </div>

                    <div class="alert alert-danger row" role="alert" *ngIf="errorMessage.length != 0">
                      {{errorMessage}}
                    </div>

                    <div class="row">
                      <div class="col-md-12 mb-3">
                          <label>Additional Services</label>
                          <ng-select formControlName="additionalService" [items]="additionalServices" [multiple]="true" bindLabel="name" [closeOnSelect]="false" bindValue="id" placeholder="Select additional services">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{standalone: true}"/> {{item.name}}
                            </ng-template>
                        </ng-select>
                      </div>
                    </div>

                  <div class="container-fluid">
                    <div class="col-sm-12 text-center">
                      <button type="submit" class="btn btn-primary btn-space" (click)="search()" > Filter </button>
                      <button type="button" class="btn btn-primary btn-space" (click)="cancelFilter()" > Cancel </button>
                    </div>
                  </div>


            </div>


          </div>
        </div>
      </div>
      <!--search (filter) - end-->


    </form>
    <div>
      <div class="row justify-content-center">
        <p class="pt-3 text-center" *ngIf="rooms.length != 0" style="font-size: 25px; color:  #33cabb;">
          Accommodations
        </p>
      </div>

      <div class="row justify-content-center">
        <p class="pt-3 text-center" *ngIf="searchActive && rooms.length == 0" style="font-size: 25px; color:  #33cabb;">
          Nothing was found.
        </p>
      </div>

      <div class="text-center mt-3">
      </div>
      <div class="row justify-content-end" *ngIf="rooms.length != 0">
          <div class="col-3">
              <select class="form-control form-control-sm" (change)="onSortChange($event.target.value)">

                  <option value="category_asc">Sort by category, A-Z</option>
                  <option value="category_desc">Sort by category, Z-A</option>
                  <option value="distance_asc">Sort by distance, A-Z</option>
                  <option value="distance_desc">Sort by distance, Z-A</option>
                  <option value="price_asc">Sort by price, A-Z</option>
                  <option value="price_desc">Sort by price, Z-A</option>
                  <option value="rating_asc">Sort by rating, A-Z</option>
                  <option value="rating_desc">Sort by rating, Z-A</option>
                </select>
          </div>
      </div>


    </div>


      <div *ngFor="let room of rooms" style="margin: 1%">
        <app-searched-room-basic-info [room]="room"></app-searched-room-basic-info>
      </div>


</div>
